* {
	margin: 0;
	padding: 0;
	}

body {
	overflow-x: hidden!important;
}

.navbar {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	display: inline-flex!important;
	cursor: pointer;
	text-transform: uppercase;
}

.navbar-nav, .nav-item, .nav-link:hover {
	color: rgb(165, 138, 87)!important;
}

#carouselExampleCaptions {
	object-fit: cover!important;
	background-size: cover!important;
	width: 100%!important;
	height: 50%!important;
}

.carousel-caption {
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	align-self: center!important;
	top: 4rem!important;
	flex-direction: column!important;

}

.carousel-item {
	transition: transform 0.1s ease-out !important;
}

.opacidade, img {

	filter: opacity(0.8);
	z-index: 2;
}

.img-thumbnail {
	border: none!important;
}

.TextoServicos {
	margin: 0;
}

.tituloSecao {
	font-family:'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 3rem;
}

.tituloSecao-1 {
	font-family:'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	color: #39271e;
	font-size: 1.9rem;
}

.tituloServico {

	font-family:'Montserrat', sans-serif!important;
	font-weight: 600;
	text-align: center;
}

.corDestaque {

	color:#39271e!important;
}

.icons {

	font-size: 3rem!important;
	display: flex!important;
	justify-content: center!important;
	color: #ffff!important;
}

p {
	font-family: 'Montserrat', sans-serif!important;
	font-weight: 400!important;
	font-size: 1.5rem!important;
	text-align: justify!important;
	letter-spacing: 0.2!important;
	color: #000;
}

.p-footer {

	font-size: 1.3rem!important;
	font-weight: 400!important;
	color: #ffff!important;
	margin: 0px;

}

.dev-footer {

	color: #ffff!important;
	font-size: 1.3rem!important;
}

footer i {

	color:#C1A996;
}


span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	text-align: justify;
}

.Maps, iframe {

	width: 100%!important;
	height: 50rem;

}

h1, h5 {
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif!important;
	font-weight: 400!important;
}

h2 {

	color: #000!important;
}

footer a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none!important;
	color: #ffff!important;
	font-weight: 400!important;
}

a {
	color: #000!important;
	text-decoration: none;
}

.card {

	width: 30rem!important;
	background: #181818!important;
}

.card-text {
	color: #ffff!important;
	font-weight: 400!important;
}

.card-title {

	font-size: 1.8rem!important;
}

.faleConosco {
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	line-height: 2.3rem!important;
}

/* Media Queries */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

	
	.card {
		padding: 3rem;
	}

	.logo_footer, a {
		margin-left: 1rem;
	}

	.slide_show_esmall {

		padding:2rem!important;
	}

	.dev-title {

		font-size: xx-small!important;
	}

	.fontsize {

		font-weight: 500;
		font-size: 0.95rem!important;
	}

	.email-small {

		font-size: medium!important;
	}

	.address-small {

		font-size: medium!important;

	}
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {


	.card {
		padding: 3rem;
	}


  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 



	.card {
		padding: 3rem;
		
	}

	.tituloServico {
		font-size: 1.8rem;
	}

 }

/* Large devices (desktops, 992px and up)*/
	@media (min-width : 992px) {
	.offcanvas {
	  visibility      : visible;
	  position        : relative;
	  background      : none;
	  border          : none;
	  justify-content : end;
	  color           : #5d4e46!important;
	}
  }
  
 	 @media (max-width : 992px) {
	.offcanvas {
	  width : 250px !important;
	}
  
	.offcanvas-start-lg {
	  top          : 0;
	  left         : 0;
	  border-right : 1px solid rgba(0, 0, 0, .2);
	  transform    : translateX(-100%);
	}
  
  }
  
	.navbar-nav li a {
	color: white !important;
  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}


img.height {
	object-fit: cover;
	height: 12.74rem;

}

.card:hover {
	border-radius: 0.25rem!important;
	cursor: pointer;
	opacity: 0.7;
}

.effect-hover:hover {

	opacity: 0.6;
}

.card {

	border-radius: 0px!important;
}

/* Galeria */

@import "fancyapps/ui/dist/fancybox.css";

.slide_gallery {

	display: flex;
	justify-content: center!important;
	align-items: center!important;
	gap: 5rem!important;
}


