* {
	margin: 0;
	padding: 0;
	}

body {
	overflow-x: hidden!important;
}

.navbar {
	font-family: 'Staatliches', cursive;
	font-size: 1.3rem;
	display: inline-flex!important;
	cursor: pointer;
}

.navbar-nav, .nav-item, .nav-link:hover {
	color: rgb(165, 138, 87)!important;
}

#carouselExampleCaptions {
	object-fit: contain!important;
	background-size: contain!important;
	width: 100%!important;
	height: auto!important;
}

.carousel-item {
	transition: transform 0.01s ease-out !important;
}

.img-thumbnail {
	border: none!important;
}

.TextoServicos {
	margin: 0;
}

.tituloSecao {
	font-family: 'Staatliches', cursive;
	font-weight: 600;
	text-align: center;
	color: white;
	margin-top: 3rem;;
}

.tituloServico {

	font-family: 'Staatliches', cursive;
	font-weight: 600;
	font-size: 1.8rem;
	text-align: center;
}

p {
	font-family: 'Anek Latin', sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	text-align: justify;
	color: rgb(3, 3, 3);
}

span {
	font-family: 'Anek Latin', sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	text-align: justify;
}


/* Media Queries */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

	
	.card {
		padding: 3rem;
	}

	.logo_footer, a {
		margin-left: 1rem;
	}

	.slide_show_esmall {

		padding:2rem!important;
	}

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {


	.card {
		padding: 3rem;
	}


  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 



	.card {
		padding: 3rem;
		
	}

	.tituloServico {
		font-size: 1.8rem;
	}

 }

/* Large devices (desktops, 992px and up)*/
	@media (min-width : 992px) {
	.offcanvas {
	  visibility      : visible;
	  position        : relative;
	  background      : none;
	  border          : none;
	  justify-content : end;
	  color           : #5d4e46!important;
	}
  }
  
 	 @media (max-width : 992px) {
	.offcanvas {
	  width : 250px !important;
	}
  
	.offcanvas-start-lg {
	  top          : 0;
	  left         : 0;
	  border-right : 1px solid rgba(0, 0, 0, .2);
	  transform    : translateX(-100%);
	}
  
  }
  
	.navbar-nav li a {
	color: white !important;
  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}


img.height {
	object-fit: cover;
	height: 12.74rem;

}

.card:hover {
	border: 3px solid #ffff!important;
	border-radius: 0.25rem!important;
	cursor: pointer;
}

.card_1 {

	border-radius: 0.25rem!important;
	cursor: pointer;

}

/* Galeria */

@import "fancyapps/ui/dist/fancybox.css";

.slide_gallery {

	display: flex;
	justify-content: center!important;
	align-items: center!important;
	gap: 5rem!important;
}


